@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
:root {
    --bg: #000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;
    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 6rem);
    --font: "Inter", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg);
    color: #fff;
    overflow: hidden;
    font-family: var(--font);
}

.hidden {
    display: none;
}