.content {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: var(--bg);
    animation: fadeOut 2s ease-in-out forwards;
    animation-delay: 4.5s;
}

.title {
    font-size: var(--fs);
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.subtitle {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #ccc;
}

.aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    pointer-events: none;
}

.aurora__item {
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var(--blur));
    mix-blend-mode: overlay;
    animation: aurora-border 6s ease-in-out infinite;
}

.aurora__item:nth-of-type(1) {
    top: -50%;
    animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate;
}


/* Animaciones Para mi presentacion inicial*/

@keyframes aurora-1 {
    0% {
        top: 0;
        right: 0;
    }
    50% {
        top: 100%;
        right: 75%;
    }
    100% {
        top: 0;
        right: 0;
    }
}

@keyframes aurora-2 {
    0% {
        top: -50%;
        left: 0;
    }
    60% {
        top: 100%;
        left: 75%;
    }
    100% {
        top: -50%;
        left: 0;
    }
}

@keyframes aurora-3 {
    0% {
        bottom: 0;
        left: 0;
    }
    65% {
        bottom: 40%;
        left: 50%;
    }
    100% {
        bottom: 0;
        left: 0;
    }
}

@keyframes aurora-4 {
    0% {
        bottom: -50%;
        right: 0;
    }
    90% {
        bottom: 50%;
        right: 25%;
    }
    100% {
        bottom: -50%;
        right: 0;
    }
}

@keyframes aurora-border {
    0% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
    50% {
        border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
    100% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}